.monaca/winrt
.monaca/local_properties.json
.vscode
.idea
.DS_Store
Thumbs.db
node_modules
yarn-error.log
google-services.json
GoogleService-Info.plist
www/config/config.js
www/index.html
www/knzkapp.*
