.container {
  padding: 8px 10px;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

a,
a:hover,
a:link,
a:visited {
  color: #2b90d9 !important;
  text-decoration: none;
}
