html,
body {
  background: var(--background-color);
}

.container {
  padding: 8px 10px;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.logo {
  width: 500px;
  max-width: 80%;
}

a,
a:hover,
a:link,
a:visited {
  color: #2b90d9 !important;
  text-decoration: none;
}

$margin-size: 5px;
@for $value from 1 to 5 {
  .mt-#{$value} {
    margin-top: $margin-size * $value !important;
  }

  .mb-#{$value} {
    margin-bottom: $margin-size * $value !important;
  }

  .ml-#{$value} {
    margin-left: $margin-size * $value !important;
  }

  .mr-#{$value} {
    margin-right: $margin-size * $value !important;
  }
}
