ons-template(id='account.html')
  ons-page
    ons-toolbar
      .left
        ons-toolbar-button(onclick='BackTab()')
          ons-icon(icon='fa-chevron-left')
          span(data-i18n='navigation.back') 戻る
      #userpage-title.center Loading now...
    ons-pull-hook#ph-acct.dark-bg
      ons-icon.white(icon='fa-refresh')
    #acct-moved-base.invisible
      p.moved-text
        ons-icon(icon='fa-suitcase')
        span(data-i18n='account.moved') 引っ越しました
        | :
      #acct-moved
    input#acct_block(type='hidden')
    input#acct_mute(type='hidden')
    .userpage-button-bg
      ons-icon#acct_action_bt.userpage-button(icon='fa-bars', onclick='account_action(account_page_id)')
    .userpage-button-bg.userpage-button-right
      ons-icon#userpage-follow-button.userpage-button(icon='fa-user-plus', onclick="account_state_action(account_page_id, 'follow')")
      #userpage-followreq-badge.userpage-follower.invisible(data-i18n='account.followreq') 承認待ち
      #userpage-follower-badge.userpage-follower.invisible(data-i18n='account.follower') フォロワー
      #userpage-mute-badge.userpage-follower.invisible(data-i18n='account.mute') ミュート中
      #userpage-block-badge.userpage-follower.invisible(data-i18n='account.block') ブロック中
    #userpage-bg.user-bg.y-center
      img#userpage-icon.user-logo-profile(src='img/missing.png')
      .card-bio
        h3#userpage-name.user-name
        .user-acct
          span#userpage-acct
          ons-icon#userpage-lock.invisible(icon='fa-lock')
          span#userpage-bot.user-bot.invisible BOT
        #userpage-bio.user-bio
        .user-follow
          .account_activity
            b#userpage-post-count
            br
            span(data-i18n='account.toots') 投稿
          .account_activity(onclick="list('accounts/'+account_page_id+'/following', i18next.t('account.following'), null, 'acct', true)")
            b#userpage-follow
            br
            span(data-i18n='account.following') フォロー
          .account_activity(onclick="list('accounts/'+account_page_id+'/followers', i18next.t('account.followers'), null, 'acct', true)")
            b#userpage-follower
            br
            span(data-i18n='account.followers') フォロワー
    #bio_field
    .account_bar(style='border-bottom: none;')
      .account_links
        span#userpage-hint.account_tab_left.account_tab(style='width: 100%;')
          span.note(data-i18n='account.note') リモートアカウントの為、情報が不正確な可能性があります。
    .account_bar.account_bar_mode
      .account_links
        span#acctTL_mode_pinned.account_tab_left.account_tab(onclick="showAccountTL(account_page_id, null, 'pinned')", data-i18n='account.pinned') 固定
        span#acctTL_mode_.account_tab.acctTL_now(onclick='showAccountTL(account_page_id)', data-i18n='account.toots') 投稿
        span#acctTL_mode_with_re.account_tab(onclick="showAccountTL(account_page_id, null, 'with_re')", data-i18n='account.replies') +返信
        span#acctTL_mode_media.account_tab(onclick="showAccountTL(account_page_id, null, 'media')", data-i18n='account.media') メディア
    #account_toot
