ons-template(id='bbcode.html')
  ons-page
    ons-toolbar
      .left
        ons-toolbar-button(onclick='BackTab()')
          ons-icon(icon='fa-chevron-left')
          span(data-i18n='navigation.back') 戻る
      .center BBCode
      .right
        ons-toolbar-button(onclick='bbcodegen()')
          ons-icon(icon='fa-plus')
    p
    input#bbcode_color(type='hidden')
    .container
      p
        ons-input#bbcode_text.w-max(modifier='underbar', placeholder='文字列', data-i18n='[placeholder]toot.bbcode.text')
    ons-list
      ons-list-item
        .center(data-i18n='toot.bbcode.base.title')
          | 基本
        .right
          ons-select#bbcode_base(modifier='underbar')
            option(value='', data-i18n='toot.bbcode.base.none') なし
            option(value='b', data-i18n='toot.bbcode.base.bold')
              b 太字
            option(value='i', data-i18n='toot.bbcode.base.italic')
              i 斜体
            option(value='u', data-i18n='toot.bbcode.base.underline')
              u アンダーライン
            option(value='s', data-i18n='toot.bbcode.base.strikethrough')
              s 取り消し
      ons-list-item
        .center(data-i18n='toot.bbcode.color')
          | 色指定
        .right
          #color-box-mini.color-box-mini
          ons-button(onclick="color_mode=null;loadNav('color.html')") 変更
      ons-list-item
        .center(data-i18n='toot.bbcode.size')
          | 大きさ
        .right
          ons-select#bbcode_large(modifier='underbar')
            option(value='') 1x
            option(value='2') 2x
            option(value='3') 3x
            option(value='4') 4x
            option(value='5') 5x
      ons-list-item
        .center(data-i18n='toot.bbcode.spin')
          | 回転
        .right
          ons-input#bbcode_spin(modifier='underbar', type='number', value='0')
      ons-list-item
        .center(data-i18n='toot.bbcode.bbcode_pulse')
          | 点滅
        .right
          ons-input#bbcode_pulse(modifier='underbar', type='number', value='0')
