ons-template(id='color.html')
  ons-page
    ons-toolbar
      .left
        ons-toolbar-button(onclick='BackTab()')
          ons-icon(icon='fa-chevron-left')
          span(data-i18n='navigation.back') 戻る
      .center(data-i18n='toot.bbcode.color') カラー選択
    p
    .container
      #color-default
        .row
          .col-xs-4.color-box-base(onclick='bbcode_color()')
            .color-box(data-i18n='toot.bbcode.color_default') (標準)
        hr
      .row
        .col-xs-4.color-box-base(onclick="bbcode_color('d95959')")
          .color-box(style='background-color: #d95959;')
        .col-xs-4.color-box-base(onclick="bbcode_color('b47434')")
          .color-box(style='background-color: #b47434;')
        .col-xs-4.color-box-base(onclick="bbcode_color('8e8e0e')")
          .color-box(style='background-color: #8e8e0e;')
        .col-xs-4.color-box-base(onclick="bbcode_color('62a222')")
          .color-box(style='background-color: #62a222;')
        .col-xs-4.color-box-base(onclick="bbcode_color('35b535')")
          .color-box(style='background-color: #35b535;')
        .col-xs-4.color-box-base(onclick="bbcode_color('2eae6e')")
          .color-box(style='background-color: #2eae6e;')
        .col-xs-4.color-box-base(onclick="bbcode_color('26a6a6')")
          .color-box(style='background-color: #26a6a6;')
        .col-xs-4.color-box-base(onclick="bbcode_color('4c8ccc')")
          .color-box(style='background-color: #4c8ccc;')
        .col-xs-4.color-box-base(onclick="bbcode_color('7171f1')")
          .color-box(style='background-color: #7171f1;')
        .col-xs-4.color-box-base(onclick="bbcode_color('9e5ede')")
          .color-box(style='background-color: #9e5ede;')
        .col-xs-4.color-box-base(onclick="bbcode_color('cb4bcb')")
          .color-box(style='background-color: #cb4bcb;')
        .col-xs-4.color-box-base(onclick="bbcode_color('d25292')")
          .color-box(style='background-color: #d25292;')
      hr
      .row
        .col-xs-4.color-box-base(onclick="bbcode_color('FF0000')")
          .color-box(style='background-color: #FF0000;')
        .col-xs-4.color-box-base(onclick="bbcode_color('0000FF')")
          .color-box(style='background-color: #0000FF;')
        .col-xs-4.color-box-base(onclick="bbcode_color('FFFF00')")
          .color-box(style='background-color: #FFFF00;')
        .col-xs-4.color-box-base(onclick="bbcode_color('008000')")
          .color-box(style='background-color: #008000;')
        .col-xs-4.color-box-base(onclick="bbcode_color('000000')")
          .color-box(style='background-color: #000000;')
        .col-xs-4.color-box-base(onclick="bbcode_color('FFFFFF')")
          .color-box(style='background-color: #FFFFFF;')
        .col-xs-4.color-box-base(onclick="bbcode_color('87CEEB')")
          .color-box(style='background-color: #87CEEB;')
        .col-xs-4.color-box-base(onclick="bbcode_color('FF5B92')")
          .color-box(style='background-color: #FF5B92;')
        .col-xs-4.color-box-base(onclick="bbcode_color('A55A4A')")
          .color-box(style='background-color: #A55A4A;')
