ons-template(id='lists.html')
  ons-page#lists-page
    ons-toolbar
      .left
        ons-toolbar-button(onclick='BackTab()')
          ons-icon(icon='fa-chevron-left')
          span(data-i18n='navigation.back') 戻る
      .center(data-i18n='lists.title') リスト
      .right
        ons-toolbar-button(onclick='editList()')
          ons-icon(icon='fa-plus')
    ons-list#lists-list
