ons-template(id='userconf.html')
  ons-page#userconf-page
    ons-toolbar
      .left
        ons-toolbar-button(onclick='BackTab()')
          ons-icon(icon='fa-chevron-left')
          span(data-i18n='navigation.preferences') 設定
      .center(data-i18n='config.profile.title') ユーザー情報編集
      .right
        ons-toolbar-button(onclick='update_userdata()')
          ons-icon(icon='fa-check')
    p
    .container
      p
        ons-input#userconf-display_name.w-max(modifier='underbar', placeholder='表示名', data-i18n='[placeholder]config.profile.display_name')
      p
        textarea#userconf-note.textarea.w-max(rows='5', placeholder='プロフィール', data-i18n='[placeholder]config.profile.bio')
    ons-list
      ons-list-item(tappable='')
        label.left
          ons-checkbox(input-id='userconf-lock')
        label.center(for='userconf-lock', data-i18n='config.profile.lock')
          | 非公開アカウント
    .container
      p.note(data-i18n='config.profile.note') * 文字数制限を超えると保存に失敗します。
    ons-list
      ons-list-item(modifier='chevron', tappable='', onclick="openURL('https://' + inst + '/settings/preferences')")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-cogs.fa.fa-fw
        .center
          span.list-item__title(data-i18n='config.profile.advanced_setting') 詳細な設定
          span.list-item__subtitle(data-i18n='config.profile.advanced_setting_note') Mastodon 設定ページに移動します
