var now_TL = "",
last_load_TL = "",
tmp_post_text = "",
toot_new_id = "",
toot_old_id = "",
account_toot_old_id = "",
account_page_id = "",
alert_new_id = "",
alert_old_id = "",
more_status_id = "",
more_acct_id = "",
tmp_bbcode_id = "",
tmp_bbcode_limit = "",
tmp_bbcode_tootbutton = "",
emoji_list = Array(),
account_page_acct = "",
tmp_text_pre = "",
tmp_post_reply = 0,
tmp_post_visibility = "",
follow_old_id = "",
tmp_media_del_id = 0,
tmp_media_del_obj = "",
tag_old_id = "",
tag_str = "",
list_old_id = "",
TL_websocket = {},
ws_leavePage = false,
image_mode = "",
old_page = "",
inst = "",
home_auto_event = false,
home_auto_mode = true,
home_auto_num = 0,
toot_limit = 500,
doodle_old_color = null,
doodle_mode = null,
pageid = "",
default_post_visibility = "",
default_sensitive = false,
config_tmp = {},
original_post_text = "",
original_post_userid = "",
tl_postdata = {},
acctdata = { "acct": {}, "rs": {} },
emoji_search = [],
platform = "",
acct_mode = "",
TlStoreData_pre = {},
timeline_config = {},
timeline_now_tab = 0,
timeline_default_tab = 0,
timeline_list_names = {},
Notification_ws = null,
Notification_num = 0,
FCM_token = null,
now_userconf = {},
lng = "en",
editing_id = "",
user_icon = "",
audio_playing = 0;
