.icon-img-small {
  width: 50px;
  height: 50px;
}

.toot-small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.acct-small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0;
}

.toot_flex {
  display: flex;
}

ons-icon.namu {
  position: absolute;
  right: -30px;
  top: 10px;
  font-size: 3em !important;
}

.toot-card-right.namu {
  width: calc(100% - 110px);
}
