.icon-img-small {
  height: 50px;
  width: 50px;
}

.toot-small {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

.acct-small,
.toot-small {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.acct-small {
  padding-left: 0;
}

.toot_flex {
  display: flex;
}

ons-icon.namu {
  font-size: 3em !important;
  position: absolute;
  right: -30px;
  top: 10px;
}

.toot-card-right.namu {
  width: calc(100% - 110px);
}
