.dark-bg,
.nav-search,
.page__background,
body,
html {
  background: #212121;
}

#nav-search,
.button--large--quiet,
.button--light,
.container,
.list-item,
.tabbar,
.toolbar,
.toolbar__center,
.toolbar__left,
.toolbar__right,
.toot,
.white {
  color: #fff;
}

.note {
  color: #fafafa;
}

.toot {
  background: #212121;
  border: 1px solid #353535;
}

.list-header {
  background: #212121;
  color: #636363;
}

.list-item {
  background: #353535;
}

.showtoot-button,
.toot-button {
  color: #636363;
}

.tabbar,
.toolbar {
  border-top: none;
}

.button--large--quiet,
.button--light,
.tabbar,
.toolbar {
  background: #2b2b2b;
}

a,
a:hover,
a:link,
a:visited {
  color: #d9e1e8 !important;
  text-decoration: underline;
}

.back-button,
.blue,
.toolbar-button {
  color: #2b90d9 !important;
}

.card {
  background: none;
  padding: 0;
}

.page__content {
  background-color: #212121 !important;
}

.dark-box {
  background: #ebebeb;
  border-radius: 0 0 4px 4px;
}

.dark-box-in {
  border-radius: 4px 4px 0 0;
}

.toot_big_border {
  border: none;
  border-top: 1px solid #353535 !important;
}

.big_date,
.date-disp {
  color: #636363;
}

.toot_light {
  background: rgba(43, 43, 43, 0.9) !important;
}

.toot_dm {
  background: #353535 !important;
}

.radio-button__checkmark:after {
  border: 2px solid #fff;
  border-right: none;
  border-top: none;
}

.black_text > .select-input,
.black_text > .text-input {
  color: #313131;
}

#simple_toot_TL_toolbar,
.simple-toot > div {
  background: #424242;
}

.toot-button-disabled {
  color: #4a4a4a;
}

.alert-dialog-content > a,
.alert-dialog-content > a:link {
  color: #2b90d9 !important;
}

.account_tab_left {
  border-left: 1px solid #353535;
}

.account_tab {
  border-right: 1px solid #353535;
}

.account_bar {
  border-top: 1px solid #393f4f;
}

.account_bar_mode {
  background-color: #111;
}

.acctTL_now {
  background-color: #353535;
}
