ons-template(id='alert.html')
  ons-page#alert-page
    ons-toolbar
      #alert_button.left
        ons-toolbar-button(onclick='fn.open()', class='forSmall')
          ons-icon(icon='fa-bars')
      .center(data-i18n='navigation.notifications') 通知
      .right
        ons-toolbar-button(onclick='reset_alert()')
          ons-icon(icon='trash')
    ons-pull-hook#ph-alert.dark-bg
      ons-icon.white(icon='fa-refresh')
    #alert_main
      .loading-now
        ons-progress-circular(indeterminate='')
    ons-speed-dial#alert-speed_dial.invisible(position='bottom right', direction='up')
      ons-fab(onclick='BackTab()')
        ons-icon(icon='fa-chevron-left')
