ons-template(id='config_filter.html')
  ons-page#config_filter-page
    ons-toolbar
      .left
        +back_button()
      .center(data-i18n='app_filter.title') フィルター
      .right
        ons-toolbar-button(onclick="loadNav('editFilter.html')")
          ons-icon(icon='fa-plus')
    ons-list#filter_list
    .container
      p(data-i18n='app_filter.note')
        | *プッシュ通知ミュートの反映にはアプリの再起動が必要です。
