ons-template(id='config.html')
  ons-page#config-page
    ons-toolbar
      .left
        ons-toolbar-button(onclick='fn.open()')
          ons-icon(icon='fa-bars')
      .center(data-i18n='navigation.preferences') 設定
    ons-list
      ons-list-item(modifier='chevron', onclick="openURL('https://' + inst + '/about/more')")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-book.fa.fa-fw
        .center(data-i18n='config.preferences.about_instance')
          | インスタンス情報
      ons-list-item(modifier='chevron', tappable='', onclick="loadNav('about.html')")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-book.fa.fa-fw
        .center(data-i18n='config.preferences.about_app')
          | このアプリについて
      ons-list-item(modifier='chevron', tappable='', onclick="loadNav('userconf.html')")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-user-circle.fa.fa-fw
        .center(data-i18n='config.profile.title')
          | ユーザー情報編集
      ons-list-item(modifier='chevron', tappable='', onclick="loadNav('config_notification.html')")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-bell-o.fa.fa-fw
        .center(data-i18n='config.notification.title')
          | プッシュ通知設定
      ons-list-item(modifier='chevron', tappable='', onclick="loadNav('config_TL.html')")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-sliders.fa.fa-fw
        .center(data-i18n='config.preferences.tl.edit.title')
          | タイムライン編集
    ons-list
      ons-list-header(data-i18n='config.preferences.tl.title') タイムライン設定
      ons-list-item
        .center(data-i18n='config.preferences.tl.speech.title')
          | トゥート読み上げ
        .right
          ons-select#conf-tl_speech(onchange="change_conf(1, 'tl_speech', true)")
            option(value='', data-i18n='config.preferences.tl.speech.none') なし
            option#tl_speech_en-US(value='en-US') English
            option#tl_speech_ja-JP(value='ja-JP') 日本語
      ons-list-item
        .center
          span.list-item__title(data-i18n='config.preferences.tl.chatmode.title') 逆順表示
          span.list-item__subtitle(data-i18n='config.preferences.tl.chatmode.sub') 下に行くほど最新の投稿になるモード
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'chatmode')", input-id='conf-chatmode')
      ons-list-item
        .center(data-i18n='config.preferences.tl.joke')
          | ジョークモード
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'joke')", input-id='conf-joke')
      ons-list-item
        .center(data-i18n='config.preferences.tl.realtime')
          | リアルタイム更新
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'realtime')", input-id='conf-realtime')
      ons-list-item
        .center(data-i18n='config.preferences.tl.cw')
          | CW文章を常に表示する
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'cw')", input-id='conf-cw')
      ons-list-item
        .center(data-i18n='config.preferences.tl.nsfw')
          | NSFWメディアを常に表示する
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'nsfw')", input-id='conf-nsfw')
      ons-list-item(modifier='chevron', tappable='', onclick="loadNav('config_collapse.html')")
        .center(data-i18n='config.collapsed.title')
          | トゥートの折りたたみ
      ons-list-item
        .center(data-i18n='config.preferences.tl.resume_reload')
          | 復帰時にリロードしない
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'resume_reload')", input-id='conf-resume_reload')
      ons-list-item
        .center(data-i18n='config.preferences.tl.speed_dial.title')
          | スピードダイヤル設定
        .right
          ons-select#conf-dial(onchange="change_conf(1, 'dial', true)")
            option(value='', data-i18n='config.preferences.tl.speed_dial.none') なし
            option#dial_toot(value='toot', data-i18n='config.preferences.tl.speed_dial.toot') 新規トゥート
            option#dial_alert(value='alert', data-i18n='config.preferences.tl.speed_dial.notification') 通知
            option#dial_reload(value='reload', data-i18n='config.preferences.tl.speed_dial.reload') TL更新
            option#dial_change(value='change', data-i18n='config.preferences.tl.speed_dial.menu') TLメニュー
    ons-list
      ons-list-header(data-i18n='config.preferences.display.title') 表示設定
      ons-list-item
        .center
          span.list-item__title(data-i18n='config.preferences.display.bigfav') 大きなお気に入りボタン
          span.list-item__subtitle
            | for
            | おにいさん
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'bigfav')", input-id='conf-bigfav')
      ons-list-item
        .center(data-i18n='config.preferences.display.spin')
          | 回転を無効化 (BBCode)
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'spin')", input-id='conf-spin')
      ons-list-item
        .center(data-i18n='config.preferences.display.menu_fav')
          | メニューにお気に入り一覧を表示
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'menu-fav')", input-id='conf-menu-fav')
      ons-list-item
        .center(data-i18n='config.preferences.display.image_full')
          | メディアのプレビューで全体を表示する
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'image_full')", input-id='conf-image_full')
      ons-list-item
        .center
          span.list-item__title(data-i18n='config.preferences.display.copy.title') コピペオプションを表示
          span.list-item__subtitle(data-i18n='config.preferences.display.copy.sub') OS標準のコピペに問題が発生した場合は有効にしてください
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'cp_popover')", input-id='conf-cp_popover')
      ons-list-item
        .center(data-i18n='config.preferences.display.theme')
          | テーマ
        .right
          ons-select#conf-theme(onchange="change_conf(1, 'theme', true)")
            option(value='') Mastodon
            option(value='css/theme/dark.css', id='theme_css/theme/dark.css') Dark
    ons-list
      ons-list-header(data-i18n='config.preferences.system.title') システム設定
      ons-list-item
        .center
          | Language
        .right
          ons-select#lang-conf(onchange='changeLanguage(this.value)')
            option(value='') Default
            option(value='en') English
            option(value='ja') 日本語
      ons-list-item
        .center(data-i18n='config.preferences.system.openurl.title')
          | リンクの開き方
        .right
          ons-select#conf-url_open(onchange="change_conf(1, 'url_open', true)")
            option(value='', data-i18n='config.preferences.system.openurl.inapp') アプリ内ブラウザ
            option#url_Inapp(value='Inapp', data-i18n='config.preferences.system.openurl.inapp_older') アプリ内ブラウザ(旧)
            option#url_OS(value='OS', data-i18n='config.preferences.system.openurl.browser') OSの標準ブラウザ
      ons-list-item
        .center
          span.list-item__title(data-i18n='config.preferences.system.swipe_menu.title') スワイプの検知方法
          span.list-item__subtitle(data-i18n='[html]config.preferences.system.swipe_menu.sub') 有効にすると高精度になりますがTLのスクロールが難しくなります
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'swipe_menu')", input-id='conf-swipe_menu')
      ons-list-item
        .center
          span.list-item__title(data-i18n='config.preferences.system.gpu.title') ハードウェアアクセラレーションを無効化
          span.list-item__subtitle(data-i18n='config.preferences.system.gpu.sub') 表示に問題が発生する場合はオン
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'gpu')", input-id='conf-gpu')
      ons-list-item
        .center
          span.list-item__title(data-i18n='config.preferences.system.SendLog.title') エラーログを開発者に送信
          span.list-item__subtitle
            a(href='https://knzkapp.nzws.me/privacy.html', target='_blank', data-i18n='config.preferences.system.SendLog.sub') プライバシーポリシー
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'SendLog', null, true)", input-id='conf-SendLog')
      ons-list-item
        .center(data-i18n='config.preferences.system.no_unread_label')
          | 未読通知ラベルを表示しない
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'no_unread_label')", input-id='conf-no_unread_label')
    ons-list
      ons-list-header(data-i18n='config.preferences.eco.title') 節約設定
      ons-list-item
        .center
          span.list-item__title(data-i18n='config.preferences.eco.gif.title') アニメーションGIFを使用しない
          span.list-item__subtitle(data-i18n='config.preferences.eco.gif.sub') 電池の節約
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'no_gif')", input-id='conf-no_gif')
      ons-list-item
        .center
          span.list-item__title(data-i18n='config.preferences.eco.custom_emoji.title') カスタム絵文字を使用しない
          span.list-item__subtitle(data-i18n='config.preferences.eco.custom_emoji.sub') ネットワーク通信の節約
        .right
          ons-switch(modifier='material', onclick="change_conf(1, 'no_custom_emoji')", input-id='conf-no_custom_emoji')
      ons-list-header(data-i18n='config.preferences.font.title') フォントサイズ
    ons-list(modifier='inset')
      ons-list-header
        span(data-i18n='config.preferences.font.button') トゥートの各ボタン
        |
        |
        a(href='#', onclick="setConfig(1, 'font_button', 50);elemId('conf-font_button').value = 50;renderFontConfig()", data-i18n='config.preferences.font.reset') リセット
      ons-list-item
        ons-col
          ons-range#conf-font_button.w-max(value='50', onchange="change_conf(1, 'font_button', true);renderFontConfig()", data-config='range')
      ons-list-header
        span(data-i18n='config.preferences.font.body') トゥート本文
        |
        |
        a(href='#', onclick="setConfig(1, 'font_body', 50);elemId('conf-font_body').value = 50;renderFontConfig()", data-i18n='config.preferences.font.reset') リセット
      ons-list-item
        ons-col
          ons-range#conf-font_body.w-max(value='50', onchange="change_conf(1, 'font_body', true);renderFontConfig()", data-config='range')
    ons-list
      ons-list-header(data-i18n='config.preferences.font.preview') プレビュー
      #font-preview.near_federated
    .container
      p.note(data-i18n='config.preferences.note') 一部の設定は再起動後に反映されます。
    ons-list.danger_list
      ons-list-header.danger_title Danger Zone
      ons-list-item(modifier='chevron', tappable='', onclick='clearAllBookmark()')
        span(data-i18n='config.preferences.danger.bookmarks') 全アカウントのブックマークを削除
      ons-list-item(modifier='chevron', tappable='', onclick='clearAllConfig()')
        span(data-i18n='config.preferences.danger.settings') 設定をリセット
      ons-list-item(modifier='chevron', tappable='', onclick='clearAllAccount()')
        span(data-i18n='config.preferences.danger.accounts') 全アカウントからログアウト
