ons-template(id='config_collapse.html')
  ons-page#config_collapse-page
    ons-toolbar
      .left
        +back_button()
      .center(data-i18n='config.collapsed.title') トゥート折りたたみ
    ons-list
      ons-list-item
        .center(data-i18n='config.collapsed.enable')
          | 折りたたみを有効化
        .right
          ons-switch(modifier='material', onclick="change_conf(2, 'collapse')", input-id='conf-col-collapse')
    ons-list
      ons-list-header(data-i18n='config.collapsed.auto.title') 自動折りたたみ
      ons-list-item(tappable='', onclick="change_conf(2, 'all')")
        label.left
          ons-checkbox(input-id='conf-col-all')
        label.center(for='conf-col-all', data-i18n='config.collapsed.auto.all') すべて
      ons-list-item(tappable='', onclick="change_conf(2, 'alert')")
        label.left
          ons-checkbox(input-id='conf-col-alert')
        label.center(for='conf-col-alert', data-i18n='config.collapsed.auto.notification') 通知
      ons-list-item(tappable='', onclick="change_conf(2, 'leng')")
        label.left
          ons-checkbox(input-id='conf-col-leng')
        label.center(for='conf-col-leng', data-i18n='config.collapsed.auto.long') 長いトゥート
      ons-list-item(tappable='', onclick="change_conf(2, 'bs')")
        label.left
          ons-checkbox(input-id='conf-col-bs')
        label.center(for='conf-col-bs', data-i18n='config.collapsed.auto.boost') ブースト
      ons-list-item(tappable='', onclick="change_conf(2, 're')")
        label.left
          ons-checkbox(input-id='conf-col-re')
        label.center(for='conf-col-re', data-i18n='config.collapsed.auto.mention') 返信
      ons-list-item(tappable='', onclick="change_conf(2, 'media')")
        label.left
          ons-checkbox(input-id='conf-col-media')
        label.center(for='conf-col-media', data-i18n='config.collapsed.auto.media') メディアトゥート
      ons-list-item(tappable='', onclick="change_conf(2, 'pinned')")
        label.left
          ons-checkbox(input-id='conf-col-pinned')
        label.center(for='conf-col-pinned', data-i18n='config.collapsed.auto.pinned') ピン留めトゥート
    ons-list
      ons-list-header(data-i18n='config.collapsed.bg.title') 背景
      ons-list-item(tappable='', onclick="change_conf(2, 'bg')")
        label.left
          ons-checkbox(input-id='conf-col-bg')
        label.center(for='conf-col-bg', data-i18n='config.collapsed.bg.collapse') 折りたたみ時の背景を変更
      ons-list-item(tappable='', onclick="change_conf(2, 'preview')")
        label.left
          ons-checkbox(input-id='conf-col-preview')
        label.center(for='conf-col-preview', data-i18n='config.collapsed.bg.preview') メディアプレビュー
    ons-list
      ons-list-header(data-i18n='config.collapsed.more.title') 詳細
      ons-list-item(tappable='', onclick="change_conf(2, 'alert_m')")
        label.left
          ons-checkbox(input-id='conf-col-alert_m')
        label.center(for='conf-col-alert_m', data-i18n='config.collapsed.more.alert') 通知で自分の投稿はアイコン/名前を表示しない
