ons-template(id='doodle.html')
  ons-page#doodle-page
    ons-toolbar
      .left
        ons-toolbar-button(onclick='closeDoodle()')
          ons-icon(icon='fa-times')
      .center
        ons-toolbar-button(onclick="showPopover(this, 'doodle_popover')")
          ons-icon(icon='fa-ellipsis-h')
      .right
        ons-toolbar-button(onclick='Doodle_changeMode()')
          ons-icon#doodle_pen_bt(icon='fa-pencil')
    ons-popover#doodle_popover(direction='down')
      div
        ons-list
          ons-list-item
            .left
              ons-button.no-rd(modifier='quiet', onclick='Doodle_upload()')
                ons-icon(icon='fa-cloud-upload')
            .right
              ons-button.no-rd(modifier='quiet', onclick='Doodle_reset()')
                ons-icon(icon='fa-eraser')
          ons-list-item
            .center
              | Smooth
            .right
              ons-switch(modifier='material', onclick="Doodle_config('smooth')", input-id='doodle_smooth')
          ons-list-item
            .center
              | Adaptive
            .right
              ons-switch(modifier='material', onclick="Doodle_config('adaptive')", input-id='doodle_adaptive')
          ons-list-item
            .center(data-i18n='toot.doodle.color')
              | 色
            .right
              #doodle-color-box-mini.color-box-mini(style='background-color: rgb(0, 0, 0);')
              ons-button(onclick="color_mode='doodle';show_colorpicker()") 変更
          ons-list-item
            .center(data-i18n='toot.doodle.weight')
              | 太さ
            .right
              ons-input#doodle_weight(modifier='underbar', type='number', value='2', onchange="sketcher.weight=parseInt(elemId('doodle_weight').value)")
          ons-list-item(style='padding-left: 6px;')
            .center
              ons-button.w-max.y-center(onclick="hidePopover('doodle_popover')", data-i18n='navigation.close') 閉じる
    canvas#mySketcher
