ons-template(id='lists.html')
  ons-page#lists-page
    ons-toolbar
      .left
        +back_button()
      .center(data-i18n='lists.title') リスト
      .right
        ons-toolbar-button(onclick='editList()')
          ons-icon(icon='fa-plus')
    ons-list#lists-list
