ons-template(id='usermenu.html')
  ons-page#usermenu-page
    ons-toolbar
      .left
        ons-toolbar-button(onclick='fn.open()', class='forSmall')
          ons-icon(icon='fa-bars')
      .center(data-i18n='navigation.user_menu') ユーザーメニュー
    ons-list
      ons-list-header Mastodon
      ons-list-item(modifier='chevron', tappable='', onclick="list('favourites', 'navigation.favourites', null, 'toot', true)")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-star.fa.fa-fw
        .center(data-i18n='navigation.favourites') お気に入り一覧
      ons-list-item(modifier='chevron', tappable='', onclick="list('pin', 'navigation.pinned_toots', null, 'toot', true)")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-thumb-tack.fa.fa-fw
        .center(data-i18n='navigation.pinned_toots') 固定したトゥート
      ons-list-item#dmtimeline_bt(modifier='chevron', tappable='', onclick="list('timelines/direct', 'navigation.dm_tl', null, 'toot', true)")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-envelope.fa.fa-fw
        .center(data-i18n='navigation.dm_tl') ダイレクトメッセージ
      ons-list-item(modifier='chevron', tappable='', onclick="list('follow_requests', 'navigation.follow_req', null, 'acct', true)")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-users.fa.fa-fw
        .center(data-i18n='navigation.follow_req') フォローリクエスト
      ons-list-item(modifier='chevron', tappable='', onclick="list('mutes', 'navigation.muted_users', null, 'acct', true)")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-volume-off.fa.fa-fw
        .center(data-i18n='navigation.muted_users') ミュートしたユーザー
      ons-list-item(modifier='chevron', tappable='', onclick="list('blocks', 'navigation.blocked_users', null, 'acct', true)")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-ban.fa.fa-fw
        .center(data-i18n='navigation.blocked_users') ブロックしたユーザー
      ons-list-item(modifier='chevron', tappable='', onclick="list('domain_blocks', 'navigation.hidden_domains', null, 'domain', true)")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-minus-circle.fa.fa-fw
        .center(data-i18n='navigation.hidden_domains') 非表示にしたドメイン
      ons-list-item(modifier='chevron', tappable='', onclick='LoadrepStatus()')
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-gavel.fa.fa-fw
        .center(data-i18n='navigation.report_status') 通報ステータス
      ons-list-item(modifier='chevron', tappable='', onclick="loadNav('lists.html')")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-bars.fa.fa-fw
        .center(data-i18n='lists.title') リスト
      ons-list-item(modifier='chevron', tappable='', onclick="list('endorsements', 'navigation.endorsements', null, 'acct', true)")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-user-plus.fa.fa-fw
        .center(data-i18n='navigation.endorsements') 推薦アカウント
      ons-list-header KnzkApp
      ons-list-item(modifier='chevron', tappable='', onclick="loadNav('config_filter.html')")
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-filter.fa.fa-fw
        .center(data-i18n='app_filter.title') フィルター
      ons-list-item(modifier='chevron', tappable='', onclick='LoadBookmark()')
        .left
          i.list-item__icon.list-item--chevron__icon.ons-icon.fa-bookmark.fa.fa-fw
        .center(data-i18n='bookmark.title') ブックマーク一覧
