.progress-bar.enq {
  margin-bottom: 10px;
  height: 40px;
  border-radius: 0;
  border: 1px solid #ddd;

  &.open {
    background-color: #525b73;
  }

  &.post {
    background-color: deepskyblue;
  }

  &.close {
    background-color: black;
  }

  > {
    .progress-bar__primary {
      border-radius: 0;
    }

    .right {
      right: 10px;
    }

    .text {
      top: 10px;
      position: absolute;
      margin-left: 5px;
      color: white;
      z-index: 101;
    }
  }
}

.toot.enq {
  padding-left: 0;
}
