.forFlexLarge,
.forLarge {
  display: none;
}

@media screen and (min-width: 650px) {
  ons-splitter-content {
    transform: translate3d(250px, 0, 0) !important;
    width: calc(100% - 250px);
  }

  .forSmall,
  .menu-button {
    display: none;
  }

  .forLarge {
    display: initial;
  }

  .forFlexLarge {
    display: flex;
  }

  .card-bio {
    padding-left: 10px;
    text-align: left;
  }

  .largeIcon {
    padding-top: 20px;
    text-align: center;
  }
}
