::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #42495b;
  border: 0 #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  border: 0 #fff;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: #525a70;
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:hover {
  background: #282c37;
}
