.icon-img-small {
    width: 50px;
    height: 50px;
}

.toot-small, .acct-small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toot-small {
    height: 20px;
}

.acct-small {
    padding-left: 0;
}