.icon-img-small {
  width: 50px;
  height: 50px;
}

.toot-small,
.acct-small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.acct-small {
  padding-left: 0;
}

.toot_flex {
  display: flex;
}
