.progress-bar.enq {
    margin-bottom: 10px;
    height: 40px;
    border-radius: 0;
    border: 1px solid #ddd;
}

.progress-bar.enq.open {
    background-color: #525b73;
}

.progress-bar.enq.post {
    background-color: deepskyblue;
}

.progress-bar.enq.close {
    background-color: black;
}

.progress-bar.enq > .progress-bar__primary {
    border-radius: 0;
}

.progress-bar.enq > .right {
    right: 10px;
}

.progress-bar.enq > .text {
    top: 10px;
    position: absolute;
    margin-left: 5px;
    color: white;
    z-index: 101;
}

.toot.enq {
    padding-left: 0;
}