.toot_content h1 {
  border-bottom: 2px solid #f33;
  font-size: 195%;
}

.toot_content h2 {
  border-bottom: 2px solid #f33;
  font-size: 180%;
}

.toot_content h3 {
  border-bottom: 2px solid #f33;
  font-size: 165%;
}

.toot_content h4 {
  border-bottom: 2px solid #f33;
  font-size: 150%;
}

.toot_content h5 {
  border-bottom: 2px solid #f33;
  font-size: 135%;
}

.toot_content h6 {
  border-bottom: 2px solid #f33;
  font-size: 120%;
}

.toot_content em {
  font-style: italic;
}

.toot_content strong {
  font-weight: 700;
}

.toot_content code {
  background-color: #000;
  border-color: #079903;
  border-left: 2px solid;
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  padding-left: 10px;
}

.toot_content blockquote {
  border-left: 4px solid #2b90d9;
  color: #fff;
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding-left: 8px;
}

.toot_content p ~ blockquote {
  margin-top: -8px;
}

.toot_content ul {
  list-style: inside;
}

.toot_content ul > ul br,
.toot_content ul br {
  display: none;
}

.toot_content ul > br > li,
.toot_content ul > li,
.toot_content ul > li > ul {
  list-style: inside circle;
  padding-left: 1em;
}

.toot_content ul > br > ul > br > li,
.toot_content ul > ul > li {
  list-style: inside circle;
  padding-left: 2em;
}

.toot_content ol {
  list-style: inside decimal;
}

.toot_content ol > li > ol {
  padding-left: 1em;
}

.toot_content img,
.toot_content p > img {
  height: 150px;
  object-fit: contain;
  width: 150px;
}

.toot_content a,
.toot_content p > a {
  color: #1fbff9;
}

.toot_content sup {
  font-size: 75.5%;
  position: relative;
  top: -0.5em;
  vertical-align: top;
}

.toot_content sub {
  font-size: 75.5%;
  top: 0.5em;
}

.toot_content small,
.toot_content sub {
  position: relative;
  vertical-align: bottom;
}

.toot_content small {
  font-size: 50%;
}

.toot_content table {
  border-collapse: collapse;
  border-spacing: 0;
  color: #2b90d9;
  display: block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  overflow: auto;
  width: 100%;
}

.toot_content table tr {
  background-color: #000;
}

.toot_content td,
.toot_content th {
  padding: 0;
}

.toot_content table td,
.toot_content table th {
  border: 1px solid #2b90d9;
  padding: 6px 13px;
}

.toot_content table th {
  font-weight: 600;
}

.toot_content table thead tr {
  background-color: #000;
}
