html, body {
    max-width: 100%;
    height: 100%;
}

.disable, .invisible {
    display: none;
}


.y-center {
    text-align: center;
}

.loading-now {
    text-align: center;
    font-size: xx-large;
}

.w-max {
    width: 100%;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.pulse-loading {
  animation: pulse 1s ease-in-out infinite;
  animation-direction: alternate;
}

.main-logo {
    background-color: #282c37;
    border-radius: 10px;
    padding: 5px 0;
}

.icon-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.date {
    color: #606984;
    float: right;
    font-size: 14px;
}

.toot {
    max-width: 100%;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 10px;
}

.toot-button {
    margin-right: 1em;
    font-size: x-large;
}

.toot-button.namu-fav {
    margin-right: 5px !important;
}

.toot-group {
    margin: 8px 0;
}

.toot-card-right {
    margin-left: 5px;
}

.namu-fav {
    font-size: xx-large;
    position: absolute;
    top: 30px;
    right: 10px;
}

.col-xs-9 {
    width: 80%;
}

.namu-toot {
    margin-right: 30px;
}

.fav-active {
    color: #ca8f04 !important;
}

.boost-active, .follow-active {
    color: #2b90d9 !important;
}

.toot_big_border {
    margin-top: 5px;
    padding: 5px 0;
}

.showtoot-button {
    font-size: x-large;
    text-align: center;
}

.user-bg {
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    background-position: 50%;
    background-color: rgba(23,25,31,.5);
}


.userpage-button-bg {
    margin: 10px 10px 0;
    position: absolute;
}

.userpage-button-right {
    right: 0;
}

.userpage-follower {
    color: white;
    opacity: .7;
    background-color: rgba(0,0,0,.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.userpage-button {
    color: #606984;
    font-size: xx-large;
}

.user-logo {
    margin: 25px 0;
    border-radius: 400px;
    width: 100px;
    height: 100px;
}

.card-bio {
    padding: 5px 0 15px;
    background: rgba(23,25,31,.8);
}
.user-name {
    margin: 0.6em 0 0.2em 0 !important;
    color: white;
}
.user-acct {
    color: #2b90d9;
}
.user-bio {
    margin: 10px 0;
    color: #d9e1e8;
    font-size: 14px;
    line-height: 18px;
}

.user-follow {
    color: #d9e1e8;
}

.alert_text {
    margin-bottom: 2px;
}

.tootpage-button {
    margin-right: 10px;
    font-size: xx-large;
}

.toot-limit {
    color: black;
    margin-right:10px;
}

.cw-button {
    padding: 1px 2px !important;
    font-size: 14px !important;
}

.select-input, .text-input {
    color: #fff;
}

.post_name {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.color-box {
    text-align: center;
    box-shadow:0 0 2px 2px #3a3e4f;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.color-box-mini {
    box-shadow: none;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.color-box-base {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.account_tab {
    color: white;
    overflow: hidden;
    width: 50%;
    text-align: center;
    border-left: 1px solid #393f4f;
    padding: 10px 5px;
}

.account_bar {
    border-top: 1px solid #393f4f;
    border-bottom: 1px solid #393f4f;
    line-height: 36px;
    overflow: hidden;
    flex: 0 0 auto;
    display: flex;
}

.account_links {
    display: flex;
    flex: 1 1 auto;
    line-height: 18px;
}

.reply-box {
    background: #9baec8;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    color: black;
}

#image_list {
    margin-top: 10px;
}

.nsfw {
    padding: 20px 0 !important;
    width: 100%;
    background-color: #000 !important;
    color: #fff;
    text-align: center;
}

.card-image {
    margin: 8px 0;
    border-radius: 5px;
    height: 120px;
    width: 100%;
    background-size: cover !important;
    background-position: 50% !important;
}

.big_date {
    margin-top: 5px;
}