.toolbar,
.toolbar__item {
  height: 35px;
}

.toolbar:not(.toolbar--cover-content) + .page__background + .page__content,
.toolbar:not(.toolbar--transparent) + .page__background {
  top: 35px;
}

.toolbar__center,
.toolbar__left,
.toolbar__right {
  line-height: 40px;
}
